body {
  margin: 0;
  background-color: #E3FDFD;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  width:10%;
  margin: 0 auto 0 auto;
  font-family: 'MonteCarlo', cursive;
}

.top-container {
  position:relative;
  top:0;
  background-color: #BAF8FF;
  padding-top:5%;
}

.middle-container {
  position:relative;
  right:auto;
}

.underline {
  text-decoration:underline;
}

.profile-img {
  position:relative;
  max-height:20%;
  max-width:20%;
  top:10px;
  left:auto;
  right:auto;
}

.top-candy {
  position:absolute;

  max-height:20%;
  max-width:20%;
  right:10%;
  top:2%;
}

.bottom-candy {
  position:absolute;

  max-height:20%;
  max-width:20%;
  left: 10%;
  bottom:50%;
}
