/* TAG SELECTOR */
body {
  background-color: azure;
}

hr {
  /* border-style: dotted none none; */
  border-style: none;
  border-top-style: dotted;
  /* height: 2px; */
  width:70%;
  /* background-color:white; */
  border-width: 5px;
  border-color: royalblue;
}

h1 {
  color:skyblue
}

h3 {
  color:navy;
}

/* CLASS SELECTORs class we can have several stuff that is same class
    And for one stuff we can give more class attributes */

.profile {
  width: 25%
}


/* ID SELECTORs id is unique */
/* #heading {
  color:skyblue
} */
