
.greeting {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height:1.5;
  color:#171717;
}

.iphone12 {
  padding-left:10%;
  max-width:70%;
  /* transform: rotate(12deg); */
}

.nav-link {
  font-family: 'Georama', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5;
}


p {
  color:#8f8f8f;
}

.icon:hover {
  color:#34656D;
}

.misaka-profile {
  max-width:10%;
  border-radius: 100%;
  margin:3% 3% 0%;
}

.press-logo {
  max-width:10%;
  margin: 0% 3% 3%;
}
.press-logo-lg {
  max-width:6%;
  margin: 0% 3% 3%;
}
